@import url(cores.css);

.formCadastrar {
    background-color: var(--color-14);
    margin: 10px auto;
    padding: 30px;
    width: 400px;
    display: flex;
    border-radius: 10px;
}

.formCadastrar input .formCadastrar select {
    transition: 0.3s;
}

.formCadastrar input:hover,
.formCadastrar input:focus,
.formCadastrar select:hover .formCadastrar select:focus {
    outline: none;
    border-color: var(--color-7);
    box-shadow: 0 0 0 0.125rem var(--color-23);
}

.formCadastrar button {
    display: block;
    padding: 0.5rem;
    background: var(--color-12);
    color: white;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.formCadastrar button:hover,
.formCadastrar button:focus {
    outline: none;
    box-shadow: 0 0 0 0.125rem var(--color-23);
}

.formCadastrar form label,
.formCadastrar form input,
.formCadastrar form select,
.formCadastrar form button {
    display: block;
    width: 100%;
}

.formCadastrar form input,
.formCadastrar form select {
    font: inherit;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid transparent;
}
