@import url(cores.css);

.cadastro_excluir {
    margin-top: 5px;
    margin-bottom: 50px;
    display: grid;
    /* background-color: aqua; */
    max-width: 100vw;
}

.cadastro_excluir a {
    text-decoration: none;
    color: black;
    background-color: var(--color-14);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition:  0.3s;
}

.cadastro_excluir a:hover {
    scale: 1.05;
    box-shadow: 0 0 0 0.2rem var(--color-23);
    background-color: var(--color-12);
    color: var(--color-23);
}

.opcao {
    text-align: center;
}
