#map {
    width: 700px;
    height: 300px;

    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.divMapa {
    /* background-color: aqua; */
    text-align: center;
    margin-bottom: 5px;
}

.inp-but button {
    padding: 0.5rem;
    background-color: var(--color-14);
    color: rgb(0, 0, 0);
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.inp-but button:hover {
    scale: 1.05;
    box-shadow: 0 0 0 0.2rem var(--color-23);
    background-color: var(--color-12);
    color: var(--color-23);
}

.inp-but input {
    transition: 0.3s;
    border-radius: 5px;
    height: 30px;
}

.inp-but input:hover,
.inp-but input:focus {
    outline: none;
    border-color: var(--color-7);
    box-shadow: 0 0 0 0.125rem var(--color-23);
}
