* {
    margin: auto 0;
    padding: auto 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

header {
    background-color: bisque;
}

.separetorLine {
    height: 3px;
    background-color: black;
    width: 80%;
    margin: 0 auto;
}

.nav1 {
    display: flex;
    justify-content: space-between;
    padding: 5px;

}

.div1Header {
    display: flex;
    font-size: 1.30rem;
}

.imgLogoNav {
    width: 50px;
}

.div2Header {
    align-items: center;
    display: flex;
    
}

.navButtons {
    display: inline-flex;
    margin: 10px 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: aquamarine;
}


.hyperLink {
    color: black;
}

body {
    /* Colocar imagem de fundo */
    background-image: url(../imagens/floresta_camadas.jpg);
    /* Ajustar para cobrir a tela toda */
    background-size: cover;
    /* Fixar a imagem para não rolar junto com a página */
    background-attachment: scroll;
    /* Centralizar a imagem */
    background-position: center;
    /* Remover a repetição da imagem */
    background-repeat: no-repeat;
    /* Define uma altura mínima para a página */
    min-height: 100vh;
}

.titulosMain {
    padding: 30px 50px;
    background-color: brown;
    width: 80%;
    margin: 20px auto;
}

.fotosTopicos {
    text-align: center;
}

.imgTopicos {
    width: 400px;
}

.opniaoPagina {
    background-color: aqua;
    margin: 10px auto;
    padding: 30px;
    width: 400px;
    display: flex;
    border-radius: 10px;
}

textarea {
    overflow: auto;
    resize: none;
}

.mensagemOpniao {
    width: 300px;
    height: 100px;
}


input, textarea {
    transition: all 0.25s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: crimson;
    box-shadow: 0 0 0 0.2rem #fff;
}

.buttonForm {
    width: 300px;
    color: white;
    background-color: brown;
    cursor: pointer;
    transition: all 0.25s;
}

.buttonForm:hover,
.buttonForm:focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem #fff;
}