@import url(cores.css);

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 95.5%;
}

body {
    background: radial-gradient(circle, var(--color-13) 0%, var(--color-7) 100%);
}

nav {
    background-color: var(--color-2);
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--color-2);
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
}

.imgLogo {
    width: 90px;
}

.div1Header {
    display: flex;
    align-items: center;
    color: var(--color-25);
    font-size: 1.25rem;
}

.div2Header {
    display: flex;
    align-items: center;
}

.div2Header a {
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 5px;
    background-color: var(--color-14);
    border-radius: 5px;
    transition:  0.3s;
}

.div2Header a:hover {
    scale: 1.05;
    box-shadow: 0 0 0 0.2rem var(--color-23);
    background-color: var(--color-12);
    color: var(--color-23);
}

.divH1P p {
    text-align: center;
    font-size: 1.05rem;
}

.descarte_correto,
.descarte_incorreto {
    width: 70%;
    background-color: var(--color-20,);
    border-radius: 5px;
    color: var(--color-1);
    box-shadow: 0px 0px 10px var(--color-23);
}

.descarte_correto h1, h2 {
    text-align: center;
}

.descarte_correto div {
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.descarte_incorreto h1 {
    text-align: center;
}

.descarte_incorreto div {
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.separetorLine {
    height: 3px;
    background: linear-gradient(to right, transparent, var(--color-1), transparent);
    margin-bottom: 50px;
    margin-top: 50px;
}

.divImgTopicos {
    text-align: center;   
}

.divImgTopicos img {
    box-shadow: 0px 0px 10px black;
    transition: 0.5s;
}

.divImgTopicos img:hover {
    scale: 1.02;
}

.imgTopicos {
    border-radius: 1000px;
}

footer {
    background-color: var(--color-2);
    border-radius: 5px 5px 0px 0px;
}

footer div {
    text-align: center;
    color: whitesmoke;
    /* background-color: aqua; */
}

footer div a {
    color: var(--color-25);
}

/* formulario opniao*/
    .opniaoPagina {
        background-color: var(--color-14);
        margin: 10px auto;
        padding: 30px;
        width: 400px;
        display: flex;
        border-radius: 10px;
    }

    .opniaoPagina h3 {
        text-align: center;
    }

    .opniaoPagina textarea {
        width: 300px;
        height: 100px;
        overflow: auto;
        resize: none;
    }

    .opniaoPagina input, 
    .opniaoPagina textarea {
        transition: 0.3s;
    }

    .opniaoPagina input:hover,
    .opniaoPagina input:focus,
    .opniaoPagina textarea:hover,
    .opniaoPagina textarea:focus {
        outline: none;
        border-color: var(--color-7);
        box-shadow: 0 0 0 0.125rem var(--color-23);
    }

    .buttonForm {
        display: block;
        padding: 0.5rem;
        background: var(--color-12);
        color: black;
        font: inherit;
        text-transform: uppercase;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.3s;
    }

    .buttonForm:hover,
    .buttonForm:focus {
        outline: none;
        box-shadow: 0 0 0 0.125rem var(--color-23);
        scale: 1.05;
        color: var(--color-25);
    }

    .opniaoPagina form label,
    .opniaoPagina form input,
    .opniaoPagina form textarea,
    .opniaoPagina form button {
        display: block;
        width: 100%;
    }

    .opniaoPagina form input,
    .opniaoPagina form textarea {
        font: inherit;
        padding: 0.5rem;
        margin-bottom: 1rem;
        border-radius: 3px;
        border: 1px solid transparent;
    }

    .opniaoPagina form textarea {
        min-height: 1rem;
    }